<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foodpanda Chat Application</title>
</head>
<body>
<h1>Delete User Account:</h1>
<h1>Please enter your Username (Email) and Password to confirm</h1>
<form method="post">
    <input type= "text" name="username" placeholder="username (Email)">
    <input type= "password" name="password" placeholder="Password">
    <input type= "submit">
</form>
{{if .UserName}}
{{else}}
{{end}}
<h2>Go to <a href="/">Main Menu</a></h2>
</body>
</html>