<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foodpanda Chat Application</title>
</head>
<body>
<h1>Change Password:</h1>
<h1>Please enter your email address and new password</h1>
<form method="post">
    <input type= "text" name="username" placeholder="username (Email)">
    <input type= "password" name="password" placeholder="New Password">
    <input type= "submit">
</form>
{{if .UserName}}
{{else}}
{{end}}
<h2>Go to <a href="/userloginsuccess">User Logged In Menu</a></h2>
</body>
</html>