<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foodpanda Chat Application</title>
</head>
<body>
<h1>User Reset Password:</h1>
<form method="post">
    <input type= "password" name="password" placeholder="New Password">
    <input type= "submit">
</form>
{{if .UserName}}
{{else}}
{{end}}
<h2>Go to <a href="/">Main Menu</a></h2>
</body>
</html>