<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foodpanda Chat Application</title>
    </head>
<body>
<h2>User Login Successful:</h2>
    <h2>Go to <a href="/userchat">Chat with Agent and Rider</a></h2>
    <h2>Go to <a href="/userchangepassword">Change Password</a></h2>
    <h2>Go to <a href="/userchangelanguage">Change Language</a></h2>
    <h2>Go to <a href="/deleteuser">Delete Account</a></h2>
    <h2>Go to <a href="/logout">Log Out</a></h2>
{{if .First}}
    
{{else}}
 
{{end}}
</body>
</html>